
  <!-- <div style="background: black;">
  <div class="container carousel tooltipped" data-position="bottom" data-delay="50" data-tooltip="Selected Images" id="selected_image_carousel">
    <a class="carousel-item" ><img src="./../../assets/1.JPG"></a>
    <a class="carousel-item" ><img src="./../../assets/2.jpg"></a>
    <a class="carousel-item" ><img src="./../../assets/3.jpg"></a>
    <a class="carousel-item" ><img src="./../../assets/4.jpg"></a>
    <a class="carousel-item" ><img src="./../../assets/5.jpg"></a>
      <a class="carousel-item" ><img src="./../../assets/6.jpg"></a>
  </div> -->

  <ngx-gallery [options]="SelectedOptions" [images]="SelectedImage"></ngx-gallery>


  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>





<!--
<div class="footer">
  <div class="row " id="all_image_pannel">

  <div class="container carousel" id="all_image_carousel">
    <a class="carousel-item" ><img src="./../../assets/1.JPG"></a>
    <a class="carousel-item" ><img src="./../../assets/7.jpg"></a>
    <a class="carousel-item" ><img src="./../../assets/2.jpg"></a>
    <a class="carousel-item" ><img src="./../../assets/1.JPG"></a>
    <a class="carousel-item" ><img src="./../../assets/3.jpg"></a>
      <a class="carousel-item" ><img src="./../../assets/4.jpg"></a>
  </div>

</div></div> -->

<!-- </div> -->
