ngx-gallery >>> ngx-gallery-image .ngx-gallery-arrow {

}
ngx-gallery >>> ngx-gallery-thumbnails .ngx-gallery-arrow {
  background-color: red;
}
ngx-gallery >>> ngx-gallery-preview .ngx-gallery-arrow {
  background-color: yellow;
}

ngx-gallery >>> .ngx-gallery-thumbnail.ngx-gallery-active {
  background-color: papayawhip;
}
body {
  margin: 0;
}
.gallery-item {
  margin: 5px;
}


#all_image_carousel
{
height: 150px;

}
#selected_image_carousel{

  height: 100px;
}
#image_view_pannel
{
  height: 20rem;
  margin: 1%;
  background: gray;
}

.carousel {
  background: black;
  width: 100%;
}

/* set to flexbox to center the images with the indicator icons */
.carousel-item {
  display: flex;
  align-items: start;
  justify-content: center;
}


